@model mboard.Models.Messageboard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Messageboard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parent_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.c_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.c_time)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
